.video-player {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-top: 50px;
  overflow: hidden;

  iframe {
    height: 90%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
