.nav-container {
  height: 50px;
  width: 100vw;
  padding: 0 4%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 40px;

  .menu-holder {
    display: flex;
    align-items: baseline;

    .bars {
      height: 26px;
      width: 26px;
      margin-right: 20px;
      color: white;
      display: none;
    }

    .logo {
      height: 24px;
    }
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;

    a {
      color: white;
      font-weight: 400;
      font-size: 12px;
    }
  }

  .right-menu {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $space-big;

    a {
      color: white;
      font-weight: 400;
      font-size: 12px;
    }

    .search {
      border: 1px solid $color-light-grey;
      color: $color-light-grey;

      input {
        padding: 4px 8px;
        font-size: 16px;
        background-color: black;
        color: white;
        width: 114px;
        border: none;
      }

      input:focus {
        outline-width: 0;
      }
    }

    .children {
      display: none;
    }

    .glass {
      display: none;
    }

    .bell {
      display: none;
    }

    .avatar-holder {
      display: none;
    }
  }
}

.active {
  background-color: black;
}

@media (min-width: 900px) {
  .nav-container {
    height: 68px;
    .menu {
      a {
        font-size: 13px;
      }

      .browse {
        display: none;
      }
    }

    .right-menu {
      .search {
        input {
          display: block;
          width: 140px;
        }
      }

      .glass,
      .bell {
        display: none;
      }

      .avatar-holder {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .caret {
          color: white;
        }
      }

      .avatar {
        height: 32px;
        width: 32px;
        border-radius: 3px;
        object-fit: cover;
        margin-left: 4px;
      }
    }
  }
}

@media (min-width: 1100px) {
  .nav-container {
    .menu {
      .browse {
        display: inline;
      }
    }
    .right-menu {
      .children {
        display: block;
      }
    }
  }
}

@media (min-width: 1280px) {
  .nav-container {
    .right-menu {
      .search {
        display: flex;
        position: relative;
        width: 25px;
        transition: width 300ms ease-in-out;
        overflow: hidden;
        border: none;

        input {
          flex-grow: 1;
          width: 275px;
          background: black;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          opacity: 0;
        }
      }

      .search:focus-within {
        width: 275px;

        input {
          opacity: 1;
          padding-left: 40px;
        }

        .glass {
          z-index: 100;
        }
      }

      .glass {
        display: block;
        font-size: 20px;
        color: white;
        padding: 2px 4px;
        margin-right: auto;
        transition: background 150ms ease-in-out;
      }

      .bell {
        display: block;
        font-size: 22px;
        color: white;
      }
    }

    .avatar-holder {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      .caret {
        color: white;
      }
    }

    .avatar {
      height: 32px;
      width: 32px;
      border-radius: 3px;
      object-fit: cover;
      margin-left: 4px;
    }
  }
}

@media (max-width: 900px) {
  .nav-container {
    .menu-holder {
      .bars {
        display: block;
      }
    }

    .menu {
      position: absolute;
      left: -250px;
      top: 50px;
      width: 250px;
      height: 100vh;
      flex-direction: column;
      padding: $space-x-big;
      justify-content: flex-start;
      background-color: black;
    }

    .menu-show {
      left: 0;
      transition: 0.1s ease-in left;
    }
  }
}
