.nav-container {
  height: 50px;
  width: 100vw;
  padding: 0 4%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 40px;
  //background-color: rgba(0, 0, 0, 0.3);

  .menu-holder {
    display: flex;
    align-items: baseline;

    .bars {
      height: 26px;
      width: 26px;
      margin-right: 20px;
      color: white;
      display: none;
    }

    .logo {
      height: 24px;
    }
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;

    a {
      color: white;
      font-weight: 400;
      font-size: 12px;
    }
  }

  .search {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $space-big;

    a {
      color: white;
      font-weight: 400;
      font-size: 12px;
    }

    input {
      box-sizing: content-box;
      width: 96px;
      font-size: 16px;
      padding: 4px 8px;
      border: 1px solid $color-light-grey;
      background-color: black;
      color: $color-light-grey;
    }

    .children {
      display: none;
    }

    .glass {
      display: none;
    }

    .avatar-holder {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      .caret {
        color: white;
      }
    }

    .avatar {
      height: 32px;
      width: 32px;
      border-radius: 3px;
      object-fit: cover;
      margin-left: 4px;
    }
  }
}

.active {
  background-color: black;
}

@media (min-width: 900px) {
  .nav-container {
    height: 68px;
    //background-color: transparent;

    .menu {
      a {
        font-size: 13px;
      }
    }

    .search {
      input {
        display: none;
      }

      .glass {
        display: block;
        font-size: 22px;
        color: white;
      }
    }
  }
}

@media (min-width: 1100px) {
  .nav-container {
    .search {
      .children {
        display: block;
      }
    }
  }
}

@media (max-width: 900px) {
  .nav-container {
    .menu-holder {
      .bars {
        display: block;
      }
    }

    .menu {
      position: absolute;
      left: -250px;
      top: 50px;
      width: 250px;
      height: 100vh;
      flex-direction: column;
      padding: $space-x-big;
      justify-content: flex-start;
      background-color: black;
    }

    .menu-show {
      left: 0;
      transition: 0.1s ease-in left;
    }
  }
}
