.play-btn {
  gap: 4px;

  .play {
    height: 14px;
    width: 14px;
  }

  span {
    font-size: 10px;
    font-weight: 500;
  }
}

@media (min-width: 1100px) {
  .play-btn {
    .play {
      height: 22px;
      width: 22px;
    }

    span {
      font-size: $text-desktop;
      font-weight: 400;
    }
  }
}
