.admin-home {
  width: 100%;
  max-width: 960px;
  min-height: 100vh;
  margin: auto;
  padding: $space-big;
  color: $color-light-grey;
  text-align: center;
  gap: $space-x-big;

  .logout {
    height: 50px;
    width: 100px;
    margin-left: auto;
    background-color: $color-light-grey;
    border-radius: 2px;
  }

  .link {
    text-decoration: underline;
    cursor: pointer;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $space-big;

    @media (min-width: 750px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 960px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
