.title-category {
  width: 100%;
  max-width: 550px;
  min-height: 100vh;
  margin: auto;
  padding: $space-big;
  text-align: center;
  background-color: white;
  gap: $space-x-big;
  color: $color-dark-grey;

  .header {
    span {
      text-transform: capitalize;
      font-size: 20px;
    }
  }

  .red-bg {
    width: 100%;
    padding: $space-medium;
    background-color: $color-red;
    border-radius: 4px;
    color: white;
  }

  .btn-holder {
    max-width: 400px;
  }
}
