.admin-home {
  .card {
    height: 200px;
    width: 200px;
    padding: $space-medium;
    background-color: $color-light-grey;
    color: $color-red;
    text-transform: capitalize;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
