.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: $space-big;

  .label {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .confirm {
    border: none;
    border-radius: 4px;
    background: $color-red;
    color: white;
    padding: $space-small $space-medium;
  }

  input[type="submit"] {
    border: none;
    border-radius: 4px;
    background: $color-red;
    color: white;
    padding: $space-small $space-medium;
  }

  input[disabled] {
    background-color: $color-light-grey;
  }
}
