.season-card-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: $space-medium;

  button {
    margin-top: $space-small;
  }

  .season-card {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    color: white;

    .accordion {
      margin: $space-x-big auto;
    }

    .title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer;
      background-color: $color-red;
    }

    .title:hover {
      background-color: #cd5c5c;
    }

    .title,
    .accordion-content {
      padding: $space-medium;
    }

    .accordion-content {
      background-color: $color-light-grey;
      color: $color-dark-grey;
      border: 1px solid white;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      a {
        font-size: 17px;
        text-decoration: underline;
        margin-top: $space-small;
      }

      a:hover {
        color: white;
      }

      .edit-icon {
        font-size: 20px;
      }

      .delete-icon {
        font-size: 19px;
      }
    }

    .add-btn {
      height: 20px;
      border-radius: 1px;
      background-color: $color-blue;
    }
  }
}
