#modal .background {
  position: fixed;
  top: 0;
  //bottom: 0;
  left: 0;
  //right: 0;
  background-color: rgba(99, 99, 99, 0.7);
  z-index: 1000;
  width: 100%;
  min-height: 100%;
}

#modal .window {
  width: 90%;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 550px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: $space-medium;
  z-index: 1000;

  .primary[disabled],
  .primary-button[disabled] {
    cursor: not-allowed;
    background-color: white;
  }
}

#modal .title-window {
  position: fixed;
  width: 100%;
  max-width: 850px;
  top: 0;
  left: 0;
  z-index: 1000;
}

@media (min-width: 850px) {
  #modal .title-window {
    left: 50%;
    transform: translate(-50%, 0);
  }
}
