/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

h1,
h2,
h3,
p {
  margin-top: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.button,
button,
a,
span {
  font-size: $text-small;
  font-weight: bold;
}

h1 {
  font-weight: 500;
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: $text-small;
  line-height: 130%;

  @media (min-width: 750px) {
    font-size: $text-small;
  }

  @media (min-width: 1280px) {
    font-size: $text-desktop;
    line-height: 140%;
  }
}
