//Colors
$color-light-grey: #ccc;
$color-dark-grey: #333;
$color-red: #e50914;

//Font-Size
$text-small-desktop: 14px;

// Spacing
$space-small: 8px;
$space-medium: 16px;
$space-big: 24px;
$space-x-big: 32px;

// Media queries
$media-big-phones: 550px;
$media-tablet: 750px;
$media-desktop: 1280px;
